@media screen and (max-width: 600px){
    .navigation{
        display: flex;
        flex-direction: column;
    }

    .navigation img{
        margin: 0 0 16px 0;
        width: 11rem;
    }

    .navigation a{
        margin: 0;
    }
    .contenu{
        font-size: 1.5rem;
    }

    .top-fleche{
        padding-bottom: 0px;
        margin-top: 30px;
    }

    .img{
        width: 100%;
    }

    .transform, .oeuf, .gob, .graphic, .disign{
        width: 100%;
        height: 400px;
    }

    .transform{
        display: block;
    }

    .transform div{
        margin: auto;
    }

    .bloc-client{
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
    }

    .client-1, .client-2, .client-3{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .contenu-client{
        padding: 0;
        width: 100%;
        margin: auto;
        margin: 0;
    }

    .img-client{
        width: 130px;
        margin: 0px;
        padding-bottom: 10px;
    }

    .client h3{
        padding: 0;
        font-size: 18px;
    }

    .titre{
        margin: 0 0 40px;
    }

    .comment{
        font-size: 12px;
        
    }

    .fonction{
        font-size: 11px;
        padding-bottom: 50px;
    }

    .more-1, .more-2, .more-3{
        position: absolute;
        top: 212px;
        left: 6px;

    }

    .menu{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }

    .tophe-menu{
        width: 100%;
        height: 300px;
    }


}

@media screen and (max-width: 525px){
    .contenu{
        font-size: 1.5rem;
    }
    img{
        width: 100%;
    }
    .container{
        width: 100%;
    }
}

@media screen and (max-width: 430px){
    .nav{
        display: flex;
    }   
    .navigation a{
        padding: O;
        margin: 0;
        font-size: 10px;
    }
    .contenu{
        font-size: 1rem;
    }

    .navigation img{
        margin: 0 0 16px 0;
        width: 9rem;
    }
    img{
        width: 100%;
    }

}














